{% extends "base_template.html" %}

<!-- page content -->
{% block content %}
<div class="row">
  <div class="col text-center">
    <h1>Hangman</h1>
  </div>
</div>
<hr />

<div class="row">
  <div class="col text-center">
    <table class="table">
      <thead>
        <div id="input-area"></div>
      </thead>
    </table>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <button id="make-guess" class="btn btn-primary">
      Make Guess
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="col text-center">
      <hr />
      High scores
      <hr />
      {% for score in scores %}
      <p>{{ score.username }}</p>
      <p>{{ score.score }}</p>
      <hr />
      {% endfor %}
    </div>
  </div>
</div>

<!-- end page content -->
{% endblock %}
